
<router-outlet></router-outlet>
<div class="container-fluid">
  <h1>This is the Sample Container Class</h1>  
  <p>This section is inside a .container class</p>   
  <p>The .container class gives a responsive fixed width container.</p>  
  <p>A user will have to resize the window of the browser to understand that its width that is the max width will substitute at the various breakpoints.</p>
    <button type="button" class="btn btn-outline-success">Success Button</button>
  <button type="button" class="btn btn-outline-danger disabled">Danger Button</button>
</div> 